# Dependency directories
/node_modules
/dist

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac-specific files
.DS_Store

# prisma migrations
/prisma/migrations